@font-face{
	font-family:"Lato";
	src:url("font/Lato-Light.ttf");
}
html{
	background-color: #f8f6f1;
}
body{
	margin:0;
	font-family:"Lato","Calibri",sans-serif;
	color: #383e42;
}

header{
	display: flex; 
	flex-flow: row nowrap; 
	justify-content: space-between;
	padding: 50px 0;
}
#menu{ 
	height:40px; 
	width:40px; 
	border:#ffffff 1px solid;
	background-image:url(menu.svg); 
	background-position:center center; 
	background-size:30px 30px; 
	background-repeat:no-repeat; 
	cursor:pointer;
	margin: 0 10px;
}

#menu:hover, #menu:focus { background-color:#c9c3b3; }
#menu:active { background-color:#ccc; }

#depliage{
	height:0;
	overflow: hidden;
	transition-duration:600ms; 
}
#navi{  
	display:flex; 
	flex-flow:column nowrap;
}
#navi ul{
	list-style: none;
}
#navi a{
	padding-left: 3px;
	text-decoration: none;
	color: #000000;
	display:block;
	color:#000000; 
	text-decoration:none; 
	padding:6px;
}

#navi a:hover, #navi a:focus { background-color:#ffffff; }
#navi a:active { background-color:#ccc; }

#presentation{
	display: grid;
	justify-items: center;
}
#pres{
	padding: 5%;
}
#moustache{
	width: 30%;
	padding-top: 20px;
}
#part1{
	display: grid;
	justify-items: center;
}
#part2{
	display: grid;
	justify-items: center;
}
#crea img{
	width: 50%;
	padding: 10% 0%;
}
#format{
	padding: 0 30px;
}
#pof{
	display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
#tiki{
	width: 50%;
	padding: 10px 0;
}
#format_2{
	padding: 0 30px;
}
#pif{
	display: grid;
	justify-items: center;
}
#toko{
	width: 50%;
	padding: 10px 0;
}

@media screen and (min-width: 1024px){
	#graph{
	background-image: url("elem_graph.svg");
	background-position: top left;
	background-repeat:no-repeat;
	background-size: 1000px;
	}	
	header{
		position: absolute;
	}
	#navi{ 
		grid-template-columns: 65% 35%;
		margin: 5% 0;
	}
	#navi a{ 
		border-left: solid 1px #383e42;
	}
	#navi ul{
	display: grid;
	grid-template-columns: 70px 110px 140px;
	justify-content: flex-start;
	}
	#depliage{
		height:auto;
		overflow: visible;
	}
	#menu{ 
		display:none; 
	}
	#presentation{
		grid-template-columns: 65% 35%;
		font-size: 1.5em;
		margin: 5% 0;
	}
	#pres{
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 0% 5%;
	}
	h1{
		margin: 2% 0;
	}
	h2{
		margin: 2% 0;
	}
	p{
		margin: 2% 0;
	}
	#moustache{
		width: 70%;
	}
	#crea img{
		width: 50%;
		padding: 10% 0%;
	}
	#part1{
		grid-template-columns: repeat(3,1fr);
		justify-items: center;
	}
	#part2{
		grid-template-columns: repeat(3,1fr);
		justify-items: center;
	}
	#format{
		padding: 10px 20px 10px 100px;
}	
	#pof{
		display: grid;
		grid-template-columns: 40% 60%;
		align-items: center;
		padding: 0 0 0 10%;
		margin:	10% 2%;
	}
	#format_2{
		padding: 10px 20px 10px 100px;
	}	
	#pif{
		grid-template-columns: 60% 40%;
		align-items: center;
		margin:	10% 2%;
	}
}